* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  
  
}

#bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.8);
}

.container {
  position: relative;
  background: transparent;
  padding: 20px;
  backdrop-filter: blur(50px);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  top: 14%;
  justify-content: center;
  
  
}


h1 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #0288d1;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0277bd;
}

.weather-result {
  margin-top: 20px;
  text-align: center;
}

.weather-result img {
  width: 60px;
}

#suggestions {
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  width: calc(100% - 40px);
  z-index: 10;
}

#suggestions li {
  padding: 8px 12px;
  cursor: pointer;
}

#suggestions li:hover {
  background-color: #f0f0f0;
}
